{% extends 'dashbord.html' %} {% block content %}{% load static %}

<div class="container">
    <div class="row">
        {% for i in data %}
        <div class="col-md-3 pb-4">
            <div class="card-deck">
                <div class="card m-3">
                    <a href="/craft/product_details/{{i.id}}">
                        <img src="/craft_seller/media/{{i.fishImage}}" class="card-img-top" alt="..." height="200">
                    </a>
                    <div class="card-body">
                        <h4>{{i.fishName}}</h4>
                        <h5>Rs.{{i.fishDiscountPrice}} <del style="color: grey; font-size: 13px;">Rs. {{i.fishPrice}}</del></h5>
                        {% if i.wishListId %}<button class="btn btn-outline-danger" onclick="remove_wishlist(' {{ i.id }} ')" style=" width: 215px; ">
                          <i class="far fa-heart fa-sm pr-2 " id="heart"></i>Remove from wishlist  
                        </button>{% %}
                        <button class="btn btn-outline-danger" onclick="dataInsert(' {{i.id }} ')" style=" width: 215px; ">
                            <i class="far fa-heart fa-sm pr-2 " id="heart"></i> Wishlist
                          </button> {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<script>
    function dataInsert(productId) {
        $.ajax({
            url: '/craft/wishlist',
            type: 'POST',
            data: {
                productId
            },
            success: function(response) {
                console.log(response)
                alert(response.message);
                window.location.reload();
            }
        })
    }
</script>

<script>
    function remove_wishlist(productId) {
        $.ajax({
            url: '/craft/remove_wishlist',
            type: 'POST',
            data: {
                productId
            },
            success: function(response) {
                console.log(response)
                alert(response.message);
                window.location.reload();
            }
        })
    }
</script>
{% endblock %}