{% extends 'dashbord.html' %} {% block content %}{% load static %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <a href=""><img src="{{ product_object.image }}" alt="..." height="600"></a>
                </div>
            </div>
        </div> 
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h5 >{{ product_object.title }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 >Rs. {{ product_object.discount_price }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <del>Rs. {{ product_object.price }}</del>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 >{{ product_object.catogory }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 > {{ product_object.description }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-heart"style="border: 1px solid; background: #f7347a; color: #fff;"><i class="far fa-heart fa-sm" id="heart "></i>
                        Add to bag</a>
                    <a href="#" class="btn btn-bag" style="border: 1px solid;background: #41929B; color: #fff;"><i class="fa fa-shopping-bag " id="heart "></i>
                            Whishlist</a>
                </div>
            </div>
        </div>    
    </div>
</div>





{% endblock %}