{% extends 'dashbord.html' %} {% block content %}{% load static %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a href=""><img src="/craft_seller/media/{{details.fishImage }}" alt="..." height="300"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ details.fishName }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Rs.{{details.fishDiscountPrice}} <del style="color: grey; font-size: 13px;">Rs. {{details.fishPrice}}</del></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>{{ details.fishCatogory }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5> {{ details.fishDescription }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="quantity">Quantity</label>
                    <select name="" id="quantity">
                       <option value="">1</option>
                       <option value="">2</option>
                       <option value="">3</option>
                       <option value="">4</option>
                       <option value="">5</option>
                       <option value="">6</option>
                       <option value="">7</option>
                   </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 ">
                    <button class="btn btn-heart" style="border: 1px solid; background: #f7347a; color: #fff;" onclick="AddToCart(' {{details.id}} ')">
                        <i class="fa fa-shopping-bag pr-2" id="heart "></i>Add to bag
                    </button>
                    <button class="btn btn-bag" style="border: 1px solid;background: #41929B; color: #fff;">
                        <i class="far fa-heart fa-sm pr-2" id="heart "></i>Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}